.banner{
    position: absolute;
    top:37%;
    right: 0;
    background-repeat: no-repeat;
    width: 100vw;
    height: auto;
    z-index:-999;
}

@media screen and (min-width:900px) and (max-width:1024px){
    .banner{
        position: absolute;
        top:27%;
    }
}

@media screen and (min-width:600px) and (max-width:900px){
    .banner{
        position: absolute;
        top:35%;
    }
}

@media screen and (min-width:481px) and (max-width:600px){
    .banner{
        position: absolute;
        top:62%;
    }
}

@media screen and (min-width:300px) and (max-width:480px){
    .banner{
        position: absolute;
        top:83%;
    }
}
