.fab {
    color:white;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 15px;
    padding: 10px;

    &:hover{
        color: $secondary--color;
        
    }

}


.footer {
    position:relative;
    left: 0;
    bottom: 0;
    height: 70px;
    width: 100%;
    background-color: none;
    background-image: linear-gradient(rgba(119,1,150,0.5), rgba(2,76,231,0.9));
    color: white;
    text-align: center;

  }