header{
    position: fixed;
    width: 100%;
    z-index: 150;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(2,76,231);
    align-items: center;
    padding: 15px;
    height: $navbar--height;
    color: white;

    &--btn-show,
    &--btn-hide{
        font-size: 1.3rem;
        display: none;
    }
    &--menu{
        display: flex;
        align-content: center;
        list-style: none;

    &-item a{
        text-decoration: none;
        color: white;
        font-family: $main--font;
        font-size: 1rem;
        padding: 0 1rem;
        font-weight: 700;

        &:hover{
            color: rgb(10,153,254);
            
        }
    }
}

    &--brand{
        width: 50px;
        height: auto;
    }
}
#checkmenu{
    visibility: hidden;
    position: absolute;
}
@media screen and (max-width:320px) {
    .navbar--btn-show, .navbar--btn-hide {
        display: block;

        &:hover{
           color: rgb(10,153,254);
        }
    }

    .navbar--btn-hide{
        position: absolute;
        top: 30px;
        right: 50px;
    }
}

@media screen and (max-width:768px) {
    .navbar--btn-show, .navbar--btn-hide {
        display: block;

        &:hover{
           color: rgb(10,153,254);
        }
    }

    .navbar--btn-hide{
        position: absolute;
        top: 30px;
        right: 17px;
    }

    .navbar--menu{
        background-image: linear-gradient(to top left, rgba(119,1,150,0.6), rgba(2,76,231,0.1));
        border-bottom-left-radius:20px;
        border-bottom-right-radius:20px;
        position: fixed;
        width: 40%;
        height: 35%;
        top: 0;
        right: -100%;
        flex-direction: column;
        align-items: center;
        padding: 30px 0;
        transition: 0.5s;

        &-item{
            padding: 20px 0;
        }
    }

    .navbar--menu-item a :active ~ .navbar--menu{
        right: -100%;
    }

    #checkmenu:checked ~ .navbar--menu{
        right: 0;
    }

  }